/* Structure */
// table {
//   width: 100%;
//   max-height: 50vh;
//   overflow-y: auto;
// }


.example-container {
  max-height: 100vh;
  // overflow-y: auto;
  .example-sidenav {
    width: 80vw; /* o cualquier medida */
    padding: 1em;
  }

  mat-drawer-content {
    width: 900px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .container{
    padding: 1em;

    .table-container{
      height: 82vh;
      // overflow-y: auto;
    }

    .blue-icon{
      color: blue;
    }

    .red-icon{
      color: red;
    }
  }
}



.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}








