

  <!-- <div class="container">
    <div class="header">
      <h4> VOLETA DE VOTACIÓN ADMIN</h4>
      <button mat-icon-button matMiniFab (click)="openDeleteCandidatoDialog()">
        <mat-icon class="red-icon">delete_outline</mat-icon>
      </button>
      <button mat-icon-button matMiniFab (click)="cerrar(false)">
        <mat-icon class="blue-icon" color="warn">close</mat-icon>
      </button>
    </div>
    <div *ngFor="let grupo of grupos">
      <h3>{{ grupo.cargo }}</h3>

      <div *ngFor="let candidato of grupo.candidatos">
        <label>
          <input
            type="radio"
            name="{{ grupo.id }}"
            [checked]="grupo.seleccionado?.id === candidato?.id"
            (change)="seleccionar(grupo, candidato)"
          />
          {{ candidato?.nombre }} - {{ candidato?.congregacion }}
        </label>
      </div>

      <p *ngIf="grupo.seleccionado">
        Seleccionado en {{ grupo.cargo }}:
        {{ grupo.seleccionado.nombre }} ({{ grupo.seleccionado.id }})
      </p>
      <hr>
    </div>

    <button mat-raised-button color="primary" (click)="doVote()" class="unir-columnas">
      Votar
    </button>

</div> -->

<div class="header">
  <div> VOLETA DE VOTACIÓN ADMIN </div>
  <button mat-icon-button matMiniFab (click)="openDeleteCandidatoDialog()">
    <mat-icon class="red-icon">delete_outline</mat-icon>
  </button>
  <button mat-icon-button matMiniFab (click)="cerrar(false)">
    <mat-icon class="blue-icon" color="warn">close</mat-icon>
  </button>
</div>
<div *ngFor="let grupo of grupos">
  <div class="cargo-row">
    <h3>{{ grupo.cargo }}</h3>
    <button mat-icon-button matMiniFab (click)="deleteGroup(grupo)">
      <mat-icon class="red-icon">delete_outline</mat-icon>
    </button>
  </div>

  <div class="candidatos">
    <label class="candidato"
      *ngFor="let candidato of grupo.candidatos"
      [ngClass]="{'seleccionado': candidato.selected}">

      <input type="checkbox"
       [checked]="candidato.selected"
       (change)="toggleSelection(grupo, candidato, $event)" />

      <span>
        <strong>{{ candidato.nombre }}</strong><br>
        <small>{{ candidato.congregacion }}</small>
      </span>
    </label>
  </div>

  <p *ngIf="grupo.porCuantosVotar>0" class="sel-msg">
    🗳 Selección: {{ grupo.porCuantosVotar }} / {{grupo.porCuantosVotar}}
  </p>

  <hr>
</div>
